<openssl ecparam -name prime256v1 -genkey -noout -out jwt-secret.secret>
# <openssl ec -in jwt-secret.secret -pubout -out jwt-secret.secret.pub>

# Optional: convert to PKCS#8 (some libraries expect PKCS#8)
# <openssl pkcs8 -topk8 -nocrypt -in jwt-secret.secret -out jwt-secret.pk8.pem>