name: CI

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - alpha
      - beta
      - main
      - renovate/**

jobs:
  prepare_jobs:
    name: "Prepare: job optimization"
    runs-on: ubuntu-latest
    outputs:
      pr_found: ${{ steps.pr.outputs.pr_found }}
    steps:
      - name: Get current PR
        id: pr
        uses: 8BitJonny/gh-get-current-pr@4056877062a1f3b624d5d4c2bedefa9cf51435c9 # 4.0.0
        with:
          filterOutClosed: true
          filterOutDraft: true
  build:
    needs: prepare_jobs
    name: dargstack rgen
    uses: dargmuesli/github-actions/.github/workflows/dargstack-rgen.yml@714a68188444d710ffa3e9f35a05f6a9d420931d # 3.2.0
    if: needs.prepare_jobs.outputs.pr_found == 'false' || github.event_name == 'pull_request'
    with:
      APT_PACKAGES: mkcert
  release-semantic:
    needs: build
    name: Semantic Release
    uses: dargmuesli/github-actions/.github/workflows/release-semantic.yml@714a68188444d710ffa3e9f35a05f6a9d420931d # 3.2.0
    permissions:
      contents: write
    secrets:
      PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
